@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');

/* *{
  border: 1px solid gold;
} */

.App {
  font-family: 'Montserrat', sans-serif;
}

.main-container{
  background-color: #14140F;
  color: white;
  height: 100vh;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: center; */
  /* margin: 0 auto; */
}

#main-title{
  font-weight: 400;
  font-size: 4.06em;
  letter-spacing: -3px;
  text-align: center;
  margin: 0 auto;
  /* padding-top: 7%; */
}

#main-subtitle{
  font-weight: 400;
  font-size: 3.10em;
  letter-spacing: -1.5px;
  text-align: center;
  color: #A78D80;
}

#main-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin-bottom: 15%; */
}

.main-button{
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  height: 52px;
  width: 343px;
  color: white;
  /* padding: 15px 32px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  cursor: pointer;
  /* box-shadow: (4px 4px 4px rgba(51, 75, 53, 0.25)); */
}

button:hover {
  background-color: #848c62;
  color: white;
}






