.product-image {
  height: 15rem;
  width: 13.125rem;
  display: cover;
}

/* .products {
  display:flex;
  height: 360px;
  width: 250px;
  text-align: center;
  /* margin-top: 40px;
  margin-right: 3px;
  margin-left: 2px; */
  /* margin: 20px 12px;
  border-radius: 25px; */
 