.product-image {
  height: 15rem;
  width: 13.125rem;
  align-self: center;
 
  /* display: cover; */
}

.product-card{
  display:flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin: .8rem;
  
}

.product-name{
  text-align: center;
  font-weight: 500;
}
/* .products {
  display:flex;
  height: 360px;
  width: 250px;
  text-align: center;
  /* margin-top: 40px;
  margin-right: 3px;
  margin-left: 2px; */
  /* margin: 20px 12px;
  border-radius: 25px; */
 