.sales-form{
  display: flex;
  flex-direction: column;
}

.form-inputs{
  /* display: flex; */
  flex-flow: wrap;
  /* flex-direction: column; */
  /* max-width: 90%; */
  /* justify-content: space-evenly; */
  margin: 0 auto;
  color: black;
}

.form-container{
  /* display:block; */
  /* flex-direction: column; */
  width: 90%;
  margin: 0 auto;
}
