.sales-orders {
  display: flex;
  flex-flow: wrap;
  /* max-width: 90%; */
  justify-content: space-evenly;
  margin-top: 5px;
  
} 

.sales-orders-container{
  margin-top: 1rem;
  background-color: #848c62;
  border-radius: 6px;
}